/STM32_Project/Debug/
/STM32_Project/Release/
/STM32_Project/.settings/
/Hardware_Altium/OneFader_Main/History
/Hardware_Altium/OneFader_Main/Project Logs for OneFader_Main
/Hardware_Altium/OneFader_Main/__Previews
/Hardware_Altium/OneFader_Screen/History
/Hardware_Altium/OneFader_Screen/Project Logs for OneFader_Screen
/Hardware_Altium/OneFader_Screen/__Previews